/* Note: Variables are inherited from stylesheet.css */

.blog-post-content {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-family: var(--f-serif);
    font-weight: bold;
    color: var(--c-text);
    font-size: var(--fs-xl);
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-sm);

}

h2 {
    font-family: var(--f-serif);
    font-weight: bold;
    color: var(--c-text);
    font-size: 1.75rem;
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-sm);
}

h3 {
    font-family: var(--f-serif);
    font-weight: bold;
    color: var(--c-text);
    font-size: var(--fs-md);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
}

p {
    font-family: var(--f-sans);
    font-weight: var(--fw-light);
    font-size: var(--fs-base);
    color: var(--c-text);
    margin-bottom: var(--spacing-md);
}

img {
    margin:auto
}

a {
    text-decoration: underline;
    color: var(--c-text);
}

blockquote {
    margin: var(--spacing-lg) 0;
    padding-left: var(--spacing-lg);
    position: relative;
}

blockquote p {
    font-size: var(--fs-base);
    font-style: italic;
}

blockquote h1 {
    font-variant: small-caps;
    font-size: var(--fs-base);
    margin-bottom: var(--spacing-sm);
}

blockquote cite a {
    display: block;
    font-style: normal;
    font-size: var(--fs-sm);
    margin-top: var(--spacing-sm);
}

/* --- Requested Unordered List Style --- */

ul {
    color: var(--c-text);
    /* Indent slightly from the left align of paragraphs */
    margin: 0 0 var(--spacing-md) 1.5rem; 
    padding: 0;
    list-style-type: disc;
}

ul ul {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 1.5rem;
    list-style-type: circle;
}

li {
    font-family: var(--f-sans);
    font-weight: var(--fw-light);
    font-size: var(--fs-base);
    line-height: 1.6;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem; /* Space between bullet and text */
}

li::marker {
    color: var(--c-text); 
}