---
title: Daniele Paletti
relative_path: ../..
---

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="fediverse:creator" content="@dpaletti@social.coop">

<head>
    <link rel="stylesheet" href="{{ relative_path }}/css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="{{ relative_path }}/assets/favicon.ico">
    <link rel="stylesheet" href="{{ relative_path }}/css/katex.min.css">
    <title>{{ title }}</title>

    <!-- Title -->
    <title></title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title or metadata.title}}">
    <meta name="description" content="{{ summary or metadata.summary}}">

    <!-- Open Graph -->
    <meta property="og:type" content="{{ ogType or "website"}}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title or metadatata.title}}">
    <meta property="og:description" content="{{ summary or metadata.summary}}">
    {% if image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image }}">
    {% elif metadata.image %}
    <meta property="og:image" content="{{ metadata.url }}{{ metadata.image }}">
    {% endif %}

    <!-- Article specific metadata -->
    {% if ogType == 'article' %}
    <meta property="article:published_time" content="{{ date }}">
    <meta property="article:author" content="{{ metadata.author.name }}">
    {% endif %}

</head>

<header>
    <a href="{{ relative_path }}" class="navbar-logo">
        <img src="{{ relative_path }}/assets/portfolio_logo.svg">
    </a>
    <ul class="navbar-links">
        <li class="navbar-item yellow"> <a class="disable-jquery-coloring navbar-link" href="{{ relative_path }}/blog/index.html">blog</a></li>
        <li class="navbar-item blue"> <a class="disable-jquery-coloring navbar-link" href="{{ relative_path }}/projects/index.html">projects</a></li>
        <li class="navbar-item red"> <a class="disable-jquery-coloring navbar-link" href="{{ relative_path }}/about/index.html">about</a></li>
    </ul>
</header>



<body class="{{ body_class }}">


<div class="blog-post-content">
    {{ content | safe }}
</div>

<footer>
    <a href="{{ relative_path }}" class="footer-navbar-logo">
        <img src="{{ relative_path }}/assets/portfolio_logo.svg">
    </a>
    <div class="navbar-links">
        <div class="footer-navbar-item red"> <a class="disable-jquery-coloring navbar-link" href="https://github.com/DPaletti">github</a></div>
        <div class="footer-navbar-item yellow"> <a class="disable-jquery-coloring navbar-link" href="https://www.linkedin.com/in/daniele-paletti/">linkedin</a></div>
        <div class="footer-navbar-item blue"> <a class="disable-jquery-coloring navbar-link" rel="me" href="https://social.coop/@dpaletti">mastodon</a></div>
        <div class="footer-navbar-item red"> <a class="disable-jquery-coloring navbar-link" href="https://codeberg.org/dpaletti">codeberg</a></div>
    </div>
</footer>


</body>
</html>
